{% extends "fwtheme_django/layout.html" %}

{% load pages_tags mezzanine_tags i18n static cookielaw_tags %}{# ceda_utils #}

{% block head_title %}{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }} | {% endif %}{{ page.title }} {% endblock %}

{% block blog_feeds %}
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}
{% endblock %}

{% block head_js %}
{{ block.super }}
{% endblock %}

{% block stylesheets_pre_extra %}
    {# normally css/mezzanine.css" goes here, but we've re-implemented #}
    {# customisations of bootstrap for apptheme_mezzanine #}
    <link rel="stylesheet" href="{% static "apptheme_mezzanine/css/custom.css" %}">
    {# (optional) further customisations specific to org #}
    <link rel="stylesheet" href="{% static "apptheme_mezzanine/css/org-custom.css" %}">
{% endblock %}

{% block site_name %}{{ settings.SITE_TITLE }}{% endblock site_name %}

{% block navigation %}
    <!-- page menu -->
    {% block navbar_dropdown %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% page_menu "pages/menus/dropdown.html" %}
            {% search_form %}
        </div> 
    {% endblock navbar_dropdown %}
    <!-- end of page menu -->
    
    {# block userstatus #}
        {# currently disabled #}   
    {# endblock userstatus #}
{% endblock navigation %}

{% block content_main %}

    {% block content_header %}

    {% block breadcrumb_wrapper %}


        <ol class="breadcrumb">
        {% spaceless %}
        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
        </ol>
        
    {% endblock breadcrumb_wrapper %}

    {% endblock %}



    {% block notifications %}{% endblock %}

    {% block left_wrapper %}
    {% endblock %}

    {% block title %}
    {% block page_title %}
        <h1>{{ page.title }}</h1>
    {% endblock %}
    {% endblock %}

    {% block mid_wrapper %}
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    {% block main %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block right_wrapper %}
    	{% block right_panel %}
    	{% endblock %}
    {% endblock %}

{% endblock %}

{% block footer_js %}
{{ block.super }}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</div>
</body>
</html>
