{% extends "apptheme_mezzanine/base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_wrapper %}
{# omit #}
{% endblock %}

{% block page_container %}
    <div class="container">
        {% block content_main %}
        {% block content_header %}

        <div class="page-header" id="banner">
            <div class="row">
              <div class="col-lg-8 col-md-7 col-sm-6">
                {% block page_title %}
                  <h1>{{page.title}}</h1>
                {% endblock %}
              </div>
            </div>
          </div>

        {% endblock content_header %}

        {% block content_panel %}
            <div class="row">

                {% block mid_wrapper %}
                    <div class="col-md-8">

                        {% block main %}

                            {% if tag or category or year or month or author %}
                                {% block blog_post_list_filterinfo %}
                                <p>
                                {% if tag %}
                                    {% trans "Viewing posts tagged" %} {{ tag }}
                                {% else %}{% if category %}
                                    {% trans "Viewing posts for the category" %} {{ category }}
                                {% else %}{% if year or month %}
                                    {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                                    {{ year }}
                                {% else %}{% if author %}
                                    {% trans "Viewing posts by" %}
                                    {{ author.get_full_name|default:author.username }}
                                {% endif %}{% endif %}{% endif %}{% endif %}
                                {% endblock %}
                                </p>
                            {% else %}
                                {% if page %}
                                {% block blog_post_list_pagecontent %}
                                {% if page.get_content_model.content %}
                                    {% editable page.get_content_model.content %}
                                    {{ page.get_content_model.content|richtext_filters|safe }}
                                    {% endeditable %}
                                {% endif %}
                                {% endblock %}
                                {% endif %}
                            {% endif %}

                            <div>
                            {% for blog_post in blog_posts.object_list %}

                            <div class="card-mb-3">
                                <div class="card-header">
                                    {% block blog_post_list_post_title %}
                                    {% editable blog_post.title %}
                                    <div class="row">
                                            <div class="col-8 text-left">
                                                <h5 class="card-title">{{ blog_post.title }}</h5>
                                            </div>
                                            <div class="col-4 text-right">
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                        {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                                                </h6>
                                            </div>
                                        </div>
                                    <h5 class="card-title">
                                        
                                    </h5>
                                    {% endeditable %}
                                    {% endblock %}
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8 text-left">
                                        {% block blog_post_list_post_metainfo %}
                                        {% editable blog_post.publish_date %}
                                        <h6>
                                            {% trans "Posted by" %}:
                                            {% with blog_post.user as author %}
                                            <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                                            {% endwith %}
                                            {% with blog_post.categories.all as categories %}
                                            {% if categories %}
                                            {% trans "in" %}
                                            {% for category in categories %}
                                            <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                            
                                        </h6>
                                        {% endeditable %}
                                        {% endblock %}

                                        {% block blog_post_list_post_content %}
                                        {% editable blog_post.content %}
                                        {{ blog_post.description_from_content|safe }}
                                        {% endeditable %}
                                        {% endblock %}

                                        {% block blog_post_list_post_links %}
                                        <div class="blog-list-detail">
                                            {% keywords_for blog_post as tags %}
                                            {% if tags %}
                                            <ul class="list-inline tags">
                                            {% trans "Tags" %}:
                                            {% spaceless %}
                                            {% for tag in tags %}
                                            <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
                                            {% endfor %}
                                            {% endspaceless %}
                                            </ul>
                                            {% endif %}
                                            <p>
                                            <a href="{{ blog_post.get_absolute_url }}" class="btn btn-primary btn-large">{% trans "read more" %}</a>
                                            </p>
                                        </div>
                                        {% endblock %}
                                    </div>
                                    <div class="col-4 text-right">
                                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                                        {% block blog_post_list_post_featured_image %}
                                        <a href="{{ blog_post.get_absolute_url }}">
                                            <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
                                        </a>
                                        {% endblock %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                            </div>

                            {% pagination_for blog_posts %}

                            {% endblock main %}

                    </div>

                {% endblock mid_wrapper %}

                {% block right_wrapper %}
                    <div class="col-md-4">
                        {% include "blog/includes/filter_panel.html" %}
                    </div>
                {% endblock right_wrapper %}

            </div>
        {% endblock content_panel %}
        {% endblock content_main %}
    </div>
{% endblock page_container %}
